.Dashbord {
    text-align: center;
    margin: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  h2 {
    margin-top: 20px;
  }
  .table {
    overflow-y: scroll;
  }
  .table::-webkit-scrollbar{
    display: none;
}
.table::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .table::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .table::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .table-wrapper {
    overflow-x: auto !important;  /* Adds horizontal scrollbar */
    width: 100% !important;   /* Ensures the div takes full width */
  }
  table {
    width: 100%;
    border-collapse: collapse !important; ;
    /* additional table styling */
  }
  